@import 'colors.scss';

.contact {
  margin-top: 5em;

  .contact-title {
    text-align: center;
  }

  .contact-button {
    display: flex;
    justify-content: center;
    
  }

  .contact-button-content {
    padding: 1em;
    margin-top: 2em;
    text-align: center;
    color: $clr-primary;
    border: 2px solid $clr-primary;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:hover {
      color: $clr-bg;
      background-color: $clr-primary;
    }

    &:before {
      transition: width 0.2s ease-in;
    }
  }
}