.navbar {
  height: 8em;
  margin: 0 auto;
  padding: 1em 2em;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .navbar-menu-item {
    margin: 0 1em;
    font-size: 1.2em;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    user-select: none;
  
    &:hover {
      color: #ff6b6b;
      border-bottom: 1px solid #ff6b6b;
    }
  }
}
